{% extends 'base.html' %}

{% block title %}Página 2{% endblock %}

{% block content %}
  

    <div class="conteudo-q">
        <h2>Quem somos</h2>
    <p>Somos uma empresa que visa cuidar do seu pet, para que assim  ele envolva  diversos aspectos importantes para o bem-estar e a saúde dele. Além de alimentação adequada e visitas regulares ao veterinário, a interação social com outros pets também é essencial para o desenvolvimento e a felicidade do seu companheiro de quatro patas.

        A interação com outros pets oferece benefícios significativos. Ela ajuda a promover habilidades sociais e comportamentais saudáveis, além de proporcionar estímulos mentais importantes. Quando os pets brincam juntos, eles aprendem a compartilhar, a se comunicar e a respeitar limites, resultando em uma socialização mais harmoniosa.

    
{% endblock %}

